@import 'https://fonts.googleapis.com/css?family=Oswald|Suez+One|Permanent+Marker'; body {
	padding:0;
}

body, .footer {
	background-color: darkgrey;
	color: white;	
}
.body {
	background-color: white;
	color: black;
}
.mobilehide {
	display: none;
}
.icon{
	width: 55px;
	float:right;
}
.fifty {
	width: 50%;
	margin: 25%;
}
.quarter {
	width: 25%;
}
.button {
	color:white;
	border-color:white;
	background-color:#212121;
}
.header {
	background-color: #212121;
	color:white;
}
.margin{
	margin-left:5%;
	margin-top:2.5%;
	margin-bottom:2.5%;
}
.marginBottom {
	margin-bottom:2.5%;
}
.title {
	font-family: 'Permanent Marker', cursive;
}
.footer {

}
.section {
	border:solid;
	border-width:1px;
	border-color:darkgrey;
	margin:2%;
}

.center {
	text-align: center;
}
.smallImg {
	width: 5%;
}
@media (min-width: 40.0rem) {
	
	#menubtn {
		display:none;
	}
	
	.mobilehide {
		display:flex;
		margin-bottom:5px;
	}
	
	 
}
/* Larger than tablet screen */ @media (min-width: 80.0rem) {
	#menubtn{
		display:none;
	}
	
	.mobilehide {
		display:flex;
		margin-bottom:5px;
	}
}
/* Larger than desktop screen */ @media (min-width: 120.0rem) {
	#menubtn {
		display:none;
	}
	
	.mobilehide {
		display:flex;
		margin-bottom:5px;
	}
 }
